/.phpunit.result.cache
/composer.lock
/patches.lock.json
/vendor
/web/*.*
/web/core
/web/libraries
/web/modules
/web/profiles
/web/recipes
/web/sites/*.*
/web/sites/default/*.*
/web/sites/default/files
!/web/sites/default/default.settings.php
/web/themes
